/* @import './base.css'; */

#app {
  font-size: 18px;
  font-weight: normal;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: #fcf4e8;
  min-height: 100vh;
}

.background-orange {
  background-color: #f2ca97;
  height: 15em;
}
